<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .banner {
            height: 2em;
            background-size: 5em;
            background-repeat: repeat-x;
            background-image: url("cid:banner");
        }
    </style>
</head>
<body>
<img src="cid:taskReportInfoImage" alt="taskReportInfoImage" width="300px">
<p>
    Pamiętaj, aby dodać raport końcowy do zakończonego zadania "<strong>{topic placeholder}</strong>" ({wpz placeholder}).
    <br>
    Link do folderu SharePoint: {sharepoint placeholder}
</p>
<div class="banner"></div>
</body>
</html>