<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .banner {
            height: 2em;
            background-size: 5em;
            background-repeat: repeat-x;
            background-image: url("cid:banner");
        }
    </style>
</head>
<body>
<img src="cid:wpzInfoImage" alt="wpzInfoImage" width="300px">
<p>
    Twój wniosek o zadanie "<strong>{topic placeholder}</strong>" został zaakceptowany.
    <br>
    Numer WPZ nadany Twojemu zadaniu to: <strong>{wpz placeholder}</strong>
</p>
<div class="banner"></div>
</body>
</html>